html{
  background-color: #202124;
}

@font-face {
  font-family: tiltNeon;
  src: url(./../../fonts/TiltNeon-Regular.ttf);
}

.menu-body{
  width: 450px;
  height: fit-content;
  color: white;
  font-family: tiltNeon;
}

.title-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  /* Yea idk. Images are weird. */
  position: absolute;
  top: 8px;
  left: 66px;
}

.title-container{
  display: flex;
  width: 80%;
  width: 80%;
  border-bottom: 1px solid gray;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}

.menu-title{
  width: 100%;
  text-align: center;
  margin: 0px;
}


.option{
  position: relative;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.option-label{
  margin-right: 20px;
}

.option-response{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  border-radius: 20px;
}

.option-descrip{
  font-size: 15px;
  padding: 0px;
  margin-top: 5px;
  font-style: italic;
  color: #aaaaaa;
}

.host-name{
  font-size: 15px;
  font-style: italic;
}

.bold{
  font-weight: bolder;
  text-decoration: underline;
}

.valid-container{
  margin: 10px;
  text-align: right;
  color: #aaaaaa;
  font-size: 18px;
}

.signature{
  color: gray;
  text-align: right;
  margin-right: 10px;
  font-size: 13px;
}